textarea {
	border-radius: 3px;
}

.spacerTop {
    margin-top: 2rem;
}

.headerBusyIndicatorTopMargin {
    margin-top: 1.5rem !important;
}

.syncStatusTextBig {
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
}

.syncStatusText {
    margin-top: 10px;
    font-size: 12px;
}

.syncStatusTextBold {
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
}

.circular {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 32px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
}

.profileTitle {
    font-size: 1rem !important;
    line-height: 1.375rem;
}

.profileSubTitle {
    color: #666666 !important;
    line-height: 1.375rem !important;
}

.customProfileTile {
    width: 22.5rem !important;
    outline: 0 !important;
}

.veryTinyMarginTop {
    margin-top: 0.3rem !important;
}

.veryLargeMarginTop {
    margin-top: 3.5rem !important;
}

.avatarBlue {
    background-color: #fafafa;
    border: 1px solid #427cac;
    color: #427cac;
}

.twoRemHeight {
    height: 3rem;
    line-height: 3rem;
}

.sapMText.sapMTextBreakWord.sapMTextMaxWidth.sapUiSelectable.displayListTextSize {
    font-size: 1.125rem;
    color: #333;
}

.size1 {
    font-size: 1.5rem;
}

.size2 {
    font-size: 2.5rem;
}

.size3 {
    font-size: 4rem;
}

.size4 {
    font-size: 7.5rem;
}

.size5 {
    font-size: 10rem;
}

.textAlignCenter {
    text-align: center;
}

.headerIconsEnd {
    margin-left: auto;
}

.sapUxAPObjectPageHeader {
    display: none;
}

.sapUxAPObjectPageHeaderContent {
    padding-top: 0.6rem;
}

.whiteBackground {
	background-color: #fff;
	padding: .5rem 1rem 1.5rem;
	border-bottom: 1px solid #cccccc;
}


/* START CUSTOM CSS FOR OBJECT PAGE ICON TAB BAR */

.sapUxAPAnchorBar .sapUxAPAnchorBarButton .sapMBtnInner .sapMBtnContent,
.sapUxAPAnchorBar .sapUxAPAnchorBarButton .sapMBtnInner .sapMBtnIcon {
    height: 4.8rem;
    line-height: 7.4rem;
}

.sapUxAPAnchorBar,
.sapUxAPAnchorBar .sapUxAPAnchorBarButton .sapMBtnInner {
    height: 5rem;
}

@media (max-width: 420px) {
    .sapUxAPAnchorBar,
    .sapUxAPAnchorBar .sapUxAPAnchorBarButton .sapMBtnInner {
        height: 3rem;
    }
    
    .sapUxAPObjectPageHeaderContent .sapUxAPObjectPageHeaderContentItem {
    	margin-right: 0.7rem;
    }
}

.sapMBarChild.sapMBtn.sapMBtnBase.sapUxAPAnchorBarButton.tabBarIconMove>span>span.sapMBtnCustomIcon {
    margin-top: -1.6rem;
    font-size: 1.3rem;
    padding-left: 1rem;
    width: inherit;
}

.sapUxAPAnchorBarScrollContainer {
    height: 5rem;
}


/* END CUSTOM CSS FOR OBJECT PAGE ICON TAB BAR */


/* START CUSTOM CSS FOR WO DETAIL PAGE HEADER */

.sapUxAPObjectPageHeaderContent {
    display: flex;
    align-items: center;
}

.sapUxAPAnchorBar.sapUxAPAnchorBarScrollLeft .anchorBarArrowLeft,
.sapUxAPAnchorBar.sapUxAPAnchorBarScrollRight .anchorBarArrowRight {
    top: 32px;
    height: 3rem;
}

.sapUiMedia-Std-Tablet .sapUxAPHierarchicalSelect.sapMSltIconOnly,
.sapUiMedia-Std-Desktop .sapUxAPHierarchicalSelect.sapMSltIconOnly,
html .sapUiContainer-Medium .sapUxAPHierarchicalSelect.sapMSltIconOnly,
html .sapUiContainer-Wide .sapUxAPHierarchicalSelect.sapMSltIconOnly {
    top: 30px;
}

html.sapUiMedia-Std-Desktop .sapUxAPObjectPageHeaderContent .sapUxAPObjectPageHeaderObjectImage-Circle .sapUxAPObjectPageHeaderObjectImage,
html.sapUiMedia-Std-Tablet .sapUxAPObjectPageHeaderContent .sapUxAPObjectPageHeaderObjectImage-Circle .sapUxAPObjectPageHeaderObjectImage {
    width: 4rem;
    height: 4rem;
    margin-right: 16px;
    margin-bottom: 8px;
}

.sapUiMedia-Std-Tablet .sapUxAPObjectPageHeaderContent .sapUxAPObjectPageHeaderContentImageContainer .sapUiIcon,
.sapUiMedia-Std-Tablet .sapUxAPObjectPageHeaderContent .sapUxAPObjectPageHeaderContentImageContainer .sapUxAPObjectPageHeaderPlaceholder.sapUxAPObjectPageHeaderObjectImage .sapUiIcon,
.sapUxAPObjectPageHeaderContent .sapUxAPObjectPageHeaderContentImageContainer .sapUiIcon,
.sapUxAPObjectPageHeaderContent .sapUxAPObjectPageHeaderContentImageContainer .sapUxAPObjectPageHeaderPlaceholder.sapUxAPObjectPageHeaderObjectImage .sapUiIcon {
    font-size: 2.4rem;
}

.sapUxAPObjectPageHeaderContent .sapUxAPObjectPageHeaderContentItem {
	margin-bottom: 0rem;
}

/* END CUSTOM CSS FOR WO DETAIL PAGE HEADER */


/* START CUSTOM CSS FOR WO OBJECT PAGE */

.sapUxAPObjectPageSection .sapUxAPBlockContainerDesktop,
.sapUxAPObjectPageSection .sapUxAPBlockContainerTablet {
    padding-top: 0rem;
}

.sapUxAPObjectPageSection .sapUxAPBlockContainerPhone {
    padding-top: 0.3rem;
    padding-bottom: 1rem;
}

.sapUxAPBlockContainerPhone .sapUiRespGrid.sapUiRespGridHSpace1>div {
	width: 100%;
}


/* END CUSTOM CSS FOR WO OBJECT PAGE */


/* START Remove blue line in top of fiori screens */

.sapMShellBrandingBar {
    height: 0px;
}

.sapMPageHeader::before {
    border-top-width: 0rem;
}


/* END Remove blue line in top of fiori screens */